#logo{display: flex;
align-items: center;
}
@media (max-width: 480px;){
h2 .grid{color:rgb(1, 104, 155);
font-size: 100%}
h2 .grid-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    color:rgb(1, 104, 155);
font-size: 100%}
h3 .brick{  color:rgb(1, 104, 155);
    font-size: 100%;}
 .brick{clear: both;
    display: block;
    
}  
.date{ text-align: left;
font-weight: bold;} 
.more{clear: both;
    float: left;
    position: relative;
    display: block;
    padding-left: 20px;
    font-weight: bold;
    color:rgb(1, 104, 155);}
}
@media (min-width:;)